<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/images/weather.png">

    <link rel="stylesheet" href="css/styles.css">
  
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by some guy. It uses data from Mapbox and Darksky</p>
      <img class="portrait" src="/images/robot.png">

    </div>
      {{>footer}}
  </body>
</html>