<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Help</title>
  <link rel="icon" href="/images/weather.png">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>If you need help, you can contact me at <a
        href="mailto:info@mypandoraenglish.com?subject=I have a question">info@mypandoraenglish.com</a></p>

  </div>
  {{>footer}}

</body>

</html>